@font-face {
    font-family: headerfont;
    src: url(../assets/Rajdhani-Bold.ttf);
  }
  
  @font-face {
    font-family: subheadfont;
    src: url(../assets/Rajdhani-Medium.ttf);
  }
.menu_list{
    position: absolute;
     background: linear-gradient(to bottom, #1b1e31, #3f4570);
     width:100vw;
     height: 100vh; 
     display: flex;
     justify-content: center;
     align-items: center;
     top:0px;
     left:0px;
     animation: menuanimation 0.3s ease-out;
 }
 .menu_close_btn{
     position: absolute;
     top: 3%;
     right: 10%;
     font-size: 2rem;
     background-color: transparent;
     border: none;
     color: white;
 }
 .menu_list ul{
     list-style: none;
 }
 .menu_list ul li{
     padding-block: 20px;
 }
 .menu_list ul li a{
     text-decoration: none;
     color: white;
     font-size: 1.5rem;
 }
 @keyframes menuanimation{
    0%{
        top:0;
        left: 100%;
        width:0vw;
        height: 0vh; 
        border-bottom-left-radius: 400px;
        opacity: 0;
    }
    100%{
        top:0;
        left: 0;
        width:100vw;
        height: 100vh; 
        border-bottom-left-radius: 0px;
        opacity: 1;

    }
 }