@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@font-face {
    font-family: headerfont;
    src: url(../../assets/Rajdhani-Bold.ttf);
  }
  
  @font-face {
    font-family: subheadfont;
    src: url(../../assets/Rajdhani-Medium.ttf);
  }

.about_page_header_container{
    background-color: #fa6220;
}
.about_page_header{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(#171a33ef,#191c38ef), url(../../assets/Home/banner_image.jpg);
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 600px;
    color: white;

}
.about_page_header h1{
    font-family: headerfont;
    font-size: 3rem;
}

.about_header_loc{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #252a55;
    padding: 1rem;
    border-radius: 30px;
    font-family: subheadfont;
}


.aboutus_content{
    padding: 5rem 2rem;
    display: flex;
    gap: 5rem;
    position: relative;
    margin-bottom: 10rem;
    margin-inline: 4rem;
}
.about_top_layer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
   

}
.about_style_layer{
    position: absolute;
    right: 3%;
    top: 0;
}
.aboutus_content h2{
    margin-block: 1rem;
    font-size: 2.5rem;
    font-family: headerfont;
}
.aboutus_content p{
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-family: subheadfont;
    color: rgb(73, 73, 73);
    text-align: justify;
    
}
.aboutus_content_img{
    position: relative;
    height: fit-content;
}
.aboutus_content_img_primary{
    width: 450px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    position: relative;
}
.aboutus_content_img_sec{
    position: absolute;
    width: 220px;
    left: -15%;
    bottom: -20%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

}
/* Why should you choose us */

.about_content_two{
    margin-top:5rem ;
    margin-bottom: 7rem;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(to bottom right, #fa6220, #ef8b33);
    position: relative;
}

.about_two_imgcontainer{
    position: absolute;
    left: 13%;
    top: 17%;

}
.textcircle{
    position: absolute;
    right: 0;
    top:-5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: #fa6220;
    border-radius: 50%;
    border: 4px solid white;
    color: white;
    text-align: center;
}
.textcircle h3{
    font-family: headerfont;
    font-size: 3.1rem;
}
.textcircle p{
    font-family: subheadfont;
    font-size: 1rem;
}
.about_two_imgmain{
    width: 450px;
    border-bottom-left-radius:180px;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;

}
.about_two_imgsub{
    width: 200px;
    position: absolute;
    top: 70%;
    left: -15%;
    border-bottom-left-radius:60px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top:8px solid white;
    border-right:8px solid white;
}
.header_about_right{
    width: 70vw;
    height: 120vh;
    background: linear-gradient(#171a33ef,#191c38ef);
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 500px;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}
.header_right_text{
    padding-left: 12rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: 90%;
}


.header_right_text h2{
    font-family: headerfont;
    font-size: 2.5rem;
    color: white;
    line-height: 4rem;

}
.header_right_text_desc{
    font-family: subheadfont;
    color: white;
    margin-top: 1rem;
}
.header_right_text_desc ul li{
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 1rem;
    color: #dddcdc;

}

.about_section_one_header_right_text_desc{
    font-family: subheadfont;
    font-size: 1.2rem;
    color: black;
    line-height: 2.7rem;
    margin-top: 1rem;
}
.about_content_three{
    margin-bottom: 7rem;
    margin-inline: 4rem;
}
.about_content_three h2{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
    font-family: headerfont;

}
.about_content_three div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}
.about_content_three img{
    border-radius: 50%;
    width: 250px;
}
.about_content_three div p{
    text-align: justify;
    font-family: subheadfont;
    color: #555555;
    font-family: subheadfont;
    font-size: 1.2rem;
    align-self: flex-start;
    margin-top: 2rem;
}
.owner_img{
    display: flex;
    flex-direction: column;
    font-family: headerfont;
    color: #2e2e2e;
}
.about_content_four{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #252a55;
    margin-bottom: 10rem;
    height: 200px;
}
.about_content_four_numbers{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.about_content_four_numbers h2{
    color: white;
    font-size: 3.5rem;
    font-family: headerfont;

}
.about_content_four_numbers p{
    color: white;
    font-size: 1.2rem;
    font-family: subheadfont;

}

@media screen and (max-width:1286px){
    .aboutus_content_img_primary{
        width: 380px;
    }
    .aboutus_content_img_sec{
        position: absolute;
        width: 150px;
        left: -10%;
        bottom: -20%;
    }
    .about_two_imgmain{
        width: 390px;
    
    }
    .about_two_imgsub{
        width: 170px;
    }

}
@media screen and (max-width:1020px){
    .aboutus_content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-inline: 0;
    }
    .aboutus_content_img_primary{
        width: 90%;
    }
    .aboutus_content_img_sec{  
       width: 50%;
       left: 0%;
        bottom: -25%;
    }
    .about_content_two{
        flex-direction: column;
        justify-content: flex-start;
    }
    .about_two_imgcontainer{
        display: none;
    
    }
    .header_about_right{
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;

    }
    .header_right_text{
        padding-left: 0rem;
        
    }
    .header_right_text h2{
        font-family: headerfont;
        font-size: 2rem;
    }
    .header_right_text_desc ul li{
        font-size: 16px;
        line-height: 2rem;
        margin-left: 1rem;
    
    }


}
@media screen and (max-width:900px){
    .header_right_text h2{
        font-family: headerfont;
        font-size: 1.7rem;
    }
    .header_right_text_desc ul li{
      font-size: 15px;
        line-height: 1.7rem;
        margin-left: 1rem;
    
    }
    .about_content_three div{
        flex-direction: column;
    }
    .about_content_three h2{
        font-size:2rem;
        margin-inline: 1rem;
    }
    .about_content_three{
        margin-inline: 10px;
    }

}
@media screen and (max-width:700px){
    .header_about_right{
        height: 110vh;
    }
    .header_right_text h2{
        font-size: 1.5rem;
    }
    .header_right_text_desc ul li{
        line-height: 1.5rem;
    
    }
    .about_content_four_numbers{
        padding-left: 1rem;
    }
    .about_content_four_numbers h2{
        font-size: 1.6rem;
    
    }
    .about_content_four_numbers p{
        font-size: 1rem;
    }
    .header_right_text{
        width: 100%;
    }

}